/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.searchButton {
    -fx-background-image: url("@/res/orange_folder_saved_search_16");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left; 
}